
#step1,
#step2,
#step3,
#back {
  display: none;
}

.card-body {
  min-height: 256px;
}
.card-footer {
  min-height: 128px;
}

#resetBtn{
  border:none;
}

.red{
  color: red;
}
.red:hover{
  text-decoration: none;
  color: lightcoral;
}
