
/* #step1,
#step2,
#step3,
#step-summary,
#back {
  display: none;
} */
nav{
  display: none;
}
form {
  height: 100vh;
  overflow-y: scroll;
}
#resetBtn {
  border: none;
}
.card-body {
  min-height: 330px;
}
.card-footer {
  min-height: 128px;
}
.red {
  color: red;
}
.red:hover {
  text-decoration: none;
  color: lightcoral;
}
