#step1,
#step2,
#step3,
#step-summary,
#back {
  display: none;
}

.card-body {
  min-height: 330px;
}

.card-footer {
  min-height: 128px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

#resetBtn {
  border: none;
}

.red {
  color: red;
}

.red:hover {
  text-decoration: none;
  color: lightcoral;
}

form {
  height: 500px;
  overflow-y: scroll;
  position: relative;
}